body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
}
.logo {
    background-color: #fff;
    border-radius: 50px;
}
.navbar {
    background: rgba(0, 0, 0, 0.879);
}

.main-container {
    background: linear-gradient(45deg, #000000, orange, yellow);
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease infinite;
    position: relative;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.glass-effect {
    background: rgba(118, 118, 118, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.747);
    padding: 70px;
    border-radius: 10px;
}

.text-neon {
    text-shadow: 0 0 10px #fff, 0 0 0px rgb(0, 162, 255);
}
.nav-link {
    color: white;
}

header, section, footer {
    padding: 50px 0;
}

header h1, section h2, footer p {
    margin-bottom: 20px;
}

.lead {
    font-size: 1.25rem;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 20px;
}

.glass-effect header h1,
.glass-effect header p,
.glass-effect section p,
.glass-effect footer p {
    color: white;
    font-family: 'Georgia', serif;
    text-shadow: none;
}
.glass-effect section h2{
    color: black;
    font-family: 'Georgia', serif;
    text-shadow: none;
}
.carousel-item img {
    max-height: 300px;
}

#carousel {
    max-width: 800px;
    margin: 0 auto;
}

.footer {
    background: #000000;
}

@media (max-width: 768px) {
    .navbar-nav .nav-link {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .navbar-collapse {
        text-align: center;
    }
    .glass-effect {
        padding: 40px;
    }
    header, section, footer {
        padding: 30px 0;
    }
    .carousel-item img {
        max-height: 200px;
    }
}
